@charset "utf-8";
/* CSS Document */



strong { font-weight:bold;}
body { font-family:"メイリオ", "ＭＳ Ｐゴシック", "ＭＳ ゴシック";}
p,li,dt,dd { line-height:160%; text-align:left;}
label { font-size:20px; cursor:pointer;}
.pointer { cursor:pointer;}

ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{ color:#349106;}
img{ vertical-align:bottom;}
/* remember to define focus styles! */
:focus { outline: 0;}

/* remember to highlight inserts somehow! */
ins { text-decoration: none;}
del { text-decoration: line-through;}

/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,
body,
form{height:100%;}

body{ text-align: center;}

/*===================グローバル=========================*/
.cl { clear:both;}
.center { text-align:center;}
.t_left { text-align:left !important;}
.t_right { text-align:right !important;}
.left_col, .left { float:left;}
.middle_col { float:left;}
.right_col, .right { float:right;}
.mb5 {margin-bottom: 5px!important;}
a:hover { text-decoration:none;}

#wrap { border-top:2px solid #64b748; }


/*===================header=========================*/
#header { width:1000px; margin:0 auto;}
#header #logo { float:left; width:200px; margin-top:11px; margin-bottom:0;}
#header .header_links { float:right; width:122px; padding-top:9px; margin-bottom:25px; text-align:right;}
#header .header_links a{ color:#434343; padding-left:17px; font-size:12px; text-decoration:none; background:url(../../images/arrow_sm.jpg) left 4px no-repeat; text-indent:12px;}
#header .header_links a:hover{
	color:#434343; text-decoration:underline;}

/*===================g navi=========================*/
.gnavi {
	width:100%;
	background:#64b748  repeat-x;
	height:5px;
	margin-bottom:12px;
}
.gnavi hr {display: none;}
/*===================table=========================*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	text-align:left;
}
/*===================form=========================*/
form input,
form select{ font-size:16px; font-family:"メイリオ", "ＭＳ Ｐゴシック", "ＭＳ ゴシック";}

input{ width:70%; margin:4px 0;}
textarea{ font-size:14px; color:#434343;}
.radio_list input,
.select_list select{ display:inline-block; margin-right: 5px;}
.radio_list li,
.select_list li {line-height: 100%; float: left; margin-right: 30px;}
.radio_list input {width: auto !important; height: auto !important; vertical-align: 0px;}

form .box_point td .inr,
form .ad_box td .inr{ width:600px;}

form p.again{margin-top:25px; line-height:100%;}
.mg_b10 {margin-bottom: 10px;}
/*===================ソース=========================*/
pre {
	font-size: 9pt;
	margin: 5px 10px 100px 10px;
	padding: 20px;
	border: 1px solid #999;
	background-color: #ddd;
	overflow: auto;
}

/*======= footer ======*/
#footer{
	width:100%;
	padding-top:30px;
}

.footer_menu{
	width:100%;
	background:#64b748;
}
.footer_menu ul{
	width:1000px;
	margin:0 auto;
	text-align:left;
	padding:20px 0;
}
.footer_menu ul li{
	display:inline;
	color:#fff;
}
.footer_menu ul li a{
	color:#fff;
	text-decoration:none;
	line-height:2em;
}
.footer_menu ul li a:hover{
	text-decoration:underline;
}

#footer #toTop{
	width:1000px;
	margin:0 auto;
	text-align:center;
}
#footer #toTop p{
	margin:0 auto;
	margin-left:899px;
}
#footer #copy{
	text-align:center;
	margin:0 auto;
	padding:7px 0;
	border-top: 5px solid #62b644;
}


/*=================== ■■■2nd templete■■■ =========================*/

/*=================== contents_wrap 全体の構成=========================*/
.subpage #contents_wrap{
	width:1000px;
	margin:0 auto;
}
.subpage .side_area{
	float:left;
	width:260px;
	text-align:center;
}
.subpage .contents_area{
	float:center;
	width:702px;
	text-align:left;
}

/*=================== pan =========================*/
.subpage .pan{
	float:left;
	width:1000px;
	color:#888888;
	font-size:12px;
	text-align:left;
	padding-top:4px;
	padding-bottom:12px;
}
.subpage .pan a{
	color:#888888;
	font-size:12px;
}

/*=================== side_area =========================*/


/*---- main_links ----*/
/*.subpage .side_area .main_links{
	padding-bottom:7px;
}*/
/*.subpage .side_area .main_links p{
	margin-bottom:0;
}*/

/*---- side_bunners ----*/
/*.subpage .side_area .side_bunners{
	padding-bottom:3px;
}*/
/*.subpage .side_area .side_bunners p{
	margin-bottom:5px;
	text-align:center;
}*/

/*=================== main_contents =========================*/
.subpage .contents_area h2{
	color:#391b09;
	font-size:36px;
	margin-bottom:15px;
	line-height:1.2em;
}
.subpage .contents_area h3{
	color:#3c8826;
	font-size:24px;
	margin-bottom:15px;
	line-height:1.5em;
	border-bottom:4px solid #53ad2d;
}
.subpage .contents_area h4{
	color:#391b09;
	font-size:24px;
	margin-bottom:15px;
	line-height:1.2em;
	border-bottom:1px solid #391b09;
}
.subpage .contents_area h5{
	color:#391b09;
	font-size:16px;
	font-weight:bold;
	margin-bottom:7px;
	line-height:1.2em;
	padding-left:25px;
	background:url(../../images/icon_h5.jpg) no-repeat left top;
}
.subpage .contents_area h6{
	color:#434343;
	font-size:16px;
	font-weight:bold;
	margin-bottom:3px;
	line-height:1.2em;
}
.subpage .contents_area p{
	margin-bottom:17px;
}
.subpage .contents_area p.caution{
	color: #d90000;
	font-weight: bold;
	margin-bottom: 2px;
	/*margin-left: 20%;*/
}
.subpage .contents_area .column{
	margin-bottom:30px;
	background:#f8f3e7;
	padding:30px;
	color:#391b09;
	text-align: center;
}
.subpage .contents_area .column p.left_col {
	padding-top: 4px;
	text-align: center;
}
.subpage .contents_area .column .innerColum {
	background: #fff;
	padding: 10px ;
	text-align: center;
}
.subpage .contents_area .infomation {
	margin-bottom:50px;
	text-align: center;
}
/*---- 画像寄せ ----*/
.subpage .txt_yose{
	margin-bottom:17px;
}
.subpage .txt_yose .left_col{
	margin-right:11px;
}
.subpage .txt_yose .img_sec{
	width:39%;
}
.subpage .txt_yose .txt_sec{
	width:58%;
}
.subpage .txt_yose .img_sec_min{
	width:15%;
}
.subpage .txt_yose .txt_sec_long{
	width:80%;
}
input.w400 {width: 400px;font-size: 16px;line-height: 20px;}
input.w100 {width: 100px;font-size: 16px;line-height: 20px;}
/*---- 規約インライン ----*/
#convention {
	margin-bottom: 20px;
	padding: 20px 20px 20px 10px;
	background:#fff;
}

#convention .innerConvention {
	width: 600px;
	height: 250px;
	padding: 10px;
	overflow: auto;
}
/* 残高確認 */
.point {font-size:30px; text-align: center;}
.links {
	margin-bottom: 100px;
}
.links ul{float: right;}
.links li {
	margin-left:20px;
	display: inline;
}
.links li a{
	padding-left:10px;
	background: url(https://qiita-image-store.s3.amazonaws.com/0/89142/2a19807c-59f5-b308-29fb-12aded7abcdb.jpeg) left 8px no-repeat;
}
.innerColum h4 {
	width: 560px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;

	}
table.zandakaTb{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
table.zandakaTb th{
	padding-top: 5px;
	font-weight: normal;
}
table.zandakaTb td{
	border-bottom:1px solid #888888;
	padding-left: 40px;
	padding-bottom: 5px;
}
table.zandakaTb td.v_suti {font-weight:bold;}
table.zandakaTb td.v_suti,
table.zandakaTb td.suti {text-align: right;}
table.zandakaTb td.gokei,
table.zandakaTb td.suti {border-bottom:none;}
table.zandakaTb td.gokei{
	font-weight: bold;
	padding-left: 0;
	vertical-align: bottom;
}
table.zandakaTb td.suti{
	padding-top: 10px;
	font-weight: bold;
}
table.zandakaTb td.suti strong{
	font-size:42px;
	color:#c72f06;
	line-height:1.3em;
}

table.point_table {
	margin-bottom: 80px;
	border-top:1px solid #888888;
	border-right:1px solid #888888;
}
table.point_table th {
	background: #f8f3e7;
	font-weight: bold !important;
	text-align: center !important;
}
table.point_table th.days {
	width: 160px;
}
table.point_table th p {
	font-weight: bold !important;
	text-align: center !important;
}
table.point_table th,
table.point_table td {
	border-bottom:1px solid #888888;
	border-left:1px solid #888888;
}
.subpage .contents_area table.point_table p{
	margin-bottom:0;
	padding: 10px 5px;
}
/*=================== ＬＩＳＴ =========================*/
ul.linkList li {
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background: url(../../images/arrow_right.png) left 22px no-repeat;
	text-indent: 10px;
	border-bottom: 1px solid #dcdcdc;
}
ul.linkList li span.innerList {
	background: url(../../images/arrow_right.png) 10px 7px no-repeat;
	text-indent: 20px;
	display: block;
}
ul {
    margin:0;
    padding:0 0 25px 0;
}
ol {
    position: relative;
    margin:0;
    padding:0 0 25px 0;
}

ol li  {
    list-style: none;
    list-style-position:outside;
    margin:0;
    padding-left:40px;
}
ol li span {
    position: absolute;
    left:0;
    margin:0
}

/*IE6*/
*html ol li span  {
    left: -1.25em;
}
/*=================== clearfix =========================*/

.clearfix:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
} /*IE7?O_uEU*/

.clearfix{display:inline-block;} /*IE7MacIE5*/

/*Hides from IE-mac\*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
/*End hide from IE-mac*/ /*IE6?O*/
